<!DOCTYPE html>
<html>
  <head>
    <title>Proximity</title>
    
    <meta name="viewport" content="width=device-width" />
    
    <link href="../static/css/foundation.min.css" media="all" rel="stylesheet" type="text/css" />
    <link href="../static/css/normalize.css" media="all" rel="stylesheet" type="text/css" />
    
    <script data-main="../static/js/main" src="../static/js/libs/require.js"></script>
    
    <!-- Template for the login form -->
    <script type="text/html" id="loginform-template">
      <div class="row">
        <div class="small-10 medium-6 medium-centered columns">
          <h5>Submit your info to find users near you!</h5>
          <form id="loginform" action="#">
            <div class="row">
              <div class="small-12 columns">
                <label>Name
                  <input id="name" type="text" />
                </label>
              </div>
            </div>
            
            <div class="row">
              <div class="small-12 columns">
                <label>Password
                  <input id="pass" type="password" />
                </label>
              </div>
            </div>
            
            <div class="row">
              <div class="small-12 columns">
                <label for="age">Age
                  <input id="age" type="text" />
                </label>
              </div>
            </div>
            
            <div class="row">
              <div class="small-12 columns">
                <label>Gender</label>
                <input type="radio" name="gender" value="m" id="male"><label for="male">Male</label>
                <input type="radio" name="gender" value="f" id="female"><label for="female">Female</label>
              </div>
            </div>
            
            <div class="row">
              <div class="small-12 columns">
                <label>Looking for</label>
                <input id="looking_for_m" type="checkbox" /><label for="looking_for_m">Men</label>
                <input id="looking_for_f" type="checkbox" /><label for="looking_for_f">Women</label>
              </div>
            </div>
            
            <div class="row">
              <div class="small-12 columns"><input type="submit" value="Submit" class="button" style="width: 100%" /></div>
            </div>
          </form>
        </div>
      </div>
    </script>
    
    <!-- Template for the "logout form", aka the view a user sees when they're logged in -->
    <script type="text/html" id="logoutform-template">
      <div class="row">
        <div class="small-10 medium-6 medium-centered large-4 columns">
          <h5>Hi there, <strong><em><%- user.get('name') %></em></strong>!</h5>
          <p>Currently showing users near you. Log out to see all users.</p>
          <a href="#" id="logoutbtn" class="button" style="width: 100%">Logout</a>
        </div>
      </div>
    </script>
    
    <!-- Template for the error view's list of errors -->
    <script type="text/html" id="errors-template">
      <% _.each(errors, function(error) { %>
        <div class="row">
          <div data-alert class="alert-box alert small-10 small-centered columns">
            Error: <%- error['reason'] %>
            <a href="#" class="close">&times;</a>
          </div>
        </div>
      <% }); %>
    </script>
    
    <!-- Template for a Google Maps InfoWindow (popup when user clicks a marker) -->
    <script type="text/html" id="infowindow-template">
      <table>
        <tr>
          <td>Name:</td>
          <td><%- user['name'] %></td>
        </tr>
        <tr>
          <td>Age:</td>
          <td><%- user['age'] %></td>
        </tr>
        <tr>
          <td>Gender:</td>
          <td>
            <% if(user['gender'] == "m") { %>
              Male
            <% } else if(user['gender'] == "f") { %>
              Female
            <% } else { %>
              Unknown
            <% } %>
          </td>
        </tr>
        <tr>
          <td>Looking for:</td>
          <td>
            <% if((user['looking_for_m'] == 1) && (user['looking_for_f'] == 1)) { %>
              Men and women
            <% } else if(user['looking_for_m'] == 1) { %>
              Men
            <% } else if(user['looking_for_f'] == 1) { %>
              Women
            <% } else { %>
              Nobody in particular
            <% } %>
          </td>
        </tr>
      </table>
    </script>
  </head>
  <body>
    
    <div id="header" style="border-bottom: 1px solid #AAAAAA; margin-bottom: 2rem;">
      <div class="row">
        <div class="small-10 small-centered columns">
          <h1>Proximity</h1>
        </div>
      </div>
    </div>
    
    <div id="errors"></div>
    
    <div id="account"></div>
    
    <div class="row">
      <div id="map-canvas" class="small-10 small-centered columns" style="height: 20rem; margin-bottom: 2rem;"></div>
    </div>
    
  </body>
</html>